In [1]:
print("Hello World!")

Hello World!

In [2]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
print("Sum : ",a+b)
print("Difference : ",a-b)
print("Product : ",a*b)

Enter first number: 5
Enter second number: 5

Sum :  10
Difference :  0
Product :  25

In [7]:
a = int(input("Enter a number:"))

if(a%2==0):
    print("Even")

else:
    print("Odd")

Enter a number: 2

Even

In [9]:
a = int(input("Enter a number:"))
fact=1

for i in range(a,1,-1):
    fact=fact*i

print(fact)

Enter a number: 5

120

In [32]:
a = int(input("Enter a number:"))
flag=0
for i in range(2,(a//2)+1,1):
    if(a%i==0):
        flag=1
        print("Not Prime")
        break
    else:
        continue

if(flag==0):
    print("Prime")

Enter a number: 2

Prime

In [47]:
a = int(input("Enter a number:"))
one = 0
two = 1
nxt_num = two
count = 1
print(one, end = " ")
print(two, end = " ")

while(count<=a):
    print(nxt_num, end=" ")
    count += 1
    one, two = two, nxt_num
    nxt_num = one + two

print()

Enter a number: 5

0 1 1 2 3 5 8

In [39]:
class Employee:
    def __init__(self, eno, ename, esal, eaddress):
        self.eno = eno
        self.ename = ename
        self.esal = esal
        self.eaddress = eaddress

    def info(self):
        print("Employee No. : ", self.eno)
        print("Employee Name : ", self.ename)
        print("Employee Salary : ", self.esal)
        print("Employee Address : ", self.eaddress)
        print(id(self.eno))

In [40]:
e1 = Employee(21,"Ram",500,"Indore")

In [42]:
e1.info()

Employee No. :  21
Employee Name :  Ram
Employee Salary :  500
Employee Address :  Indore
4334279456